.page-footer {
  background-color: $special-light-grey;
}

.footer {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  padding: 45px 0 22px 0;
}

.footer__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer-icons__list {
  @include reset-list;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  margin-top: 27px;
  padding: 20px 0 16px 0;

  border-top: 1px solid $basic-grey;
  border-bottom: 1px solid $basic-grey;
}

.footer-icons__item {
  margin-right: 36px;

  &:last-child {
    margin-right: 0;
  }
}

.footer-icons__link {
  text-decoration: none;

  &:hover .icon-insta,
  &:hover .icon-vk {
    fill: $basic-green;
  }

  &:hover .icon-facebook {
    stroke: $basic-green;
  }

  &:active .icon-insta,
  &:active .icon-vk,
  &:active .icon-facebook {
    opacity: 0.4;
  }
}

.icon-insta {
  fill: $icons-color;
  width: 16px;
  height: 16px;
}

.icon-vk {
  fill: $icons-color;
  width: 23px;
  height: 16px;
}

.icon-facebook {
  stroke: $icons-color;
  fill: none;
  width: 22px;
  height: 22px;
}

.copyright {
  margin-top: 9px;
}

.copyright__link {
  display: inline-block;

  vertical-align: middle;
  color: $basic-dark-grey;
  text-decoration: none;

  &:first-child {
    margin-right: 135px;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover .icon-htmlacademy {
    fill: $basic-green;
  }
}

.icon-htmlacademy {
  fill: $icons-color;
}

.copyright__text {
  margin-top: 20px;

  font-size: 16px;
  font-family: "Arial", "Helvetica", sans-serif;
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 43px 0 52px 0;
  }

  .footer--catalog {
    padding-top: 43px;
    padding-bottom: 52px;
  }

  .footer__logo {
    margin-top: 15px;
  }

  .footer-icons__list {
    padding: 0;
    margin-top: 9px;
    margin-left: 30px;

    border: none;
  }

  .footer-icons__item {
    margin-right: 25px;
  }

  .copyright {
    margin-top: 5px;
  }

  .copyright__link {
    &:first-child {
      margin-right: 22px;
    }
  }

  .copyright__logo {
    margin-top: 4px;
  }

  .icon-insta {
    width: 23px;
    height: 23px;
  }

  .icon-vk {
    width: 30px;
    height: 22px;
  }

  .icon-facebook {
    width: 28px;
    height: 33px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 45px 0 50px 0;
  }

  .footer--form {
    padding-bottom: 50px;
  }

  .copyright {
    padding-bottom: 0;
  }
}
