.advantages__title {
  @include big-header;

  margin-top: 10px;
  margin-bottom: 35px;
}

.advantages__list {
  @include reset-list;

  display: grid;

  grid-template-columns: 1fr;

  margin-top: 9px;
}

.advantages__item {
  position: relative;

  margin-bottom: 23px;
  padding-top: 3px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $basic-green;
  }

  &.advantages__item--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px 52px;
    }
  }

  &.advantages__item--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 49px 51px;
    }
  }

  &.advantages__item--dinning::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 41px 50px;
    }
  }

  &.advantages__item--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 52px 53px;
    }
  }
}

.advantages__description {
  @include main-text;

  margin-top: 3px;
  padding-left: 80px;

  & br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-top: 46px;
    padding-bottom: 23px;

    border-bottom: 1px solid $special-border-color;
  }

  .advantages__title {
    @include big-tablet-header;

    margin-top: 47px;
    margin-bottom: 60px;
  }

  .advantages__list {
    column-gap: 59px;

    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }

  .advantages__item {
    position: relative;

    padding-top: 112px;
    padding-bottom: 57px;
    padding-left: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 80px;
      height: 80px;

      background-color: $basic-green;
    }

    &.advantages__item--leaf {
      background-image: url("../img/icon-one.svg");
      background-repeat: no-repeat;
      background-position: 127px top;
    }

    &.advantages__item--powder {
      background-image: url("../img/icon-two.svg");
      background-repeat: no-repeat;
      background-position: 124px top;
    }

    &.advantages__item--dinning {
      background-image: url("../img/icon-three.svg");
      background-repeat: no-repeat;
      background-position: 124px top;
    }

    &.advantages__item--clock {
      background-image: url("../img/icon-four.svg");
      background-repeat: no-repeat;
      background-position: 124px top;
    }
  }

  .advantages__description {
    @include tablet-main-text;

    max-width: 245px;
    margin-top: 13px;
    margin-left: 0;

    & br {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    margin-top: 40px;

    border: none;
  }

  .advantages__title {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .advantages__list {
    column-gap: 78px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .advantages__item {
    position: relative;

    padding-top: 111px;
    padding-bottom: 57px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 80px;
      height: 80px;

      background-color: $basic-green;
    }

    &.advantages__item--leaf {
      background-image: url("../img/icon-one.svg");
      background-repeat: no-repeat;
      background-position: 127px top;
    }

    &.advantages__item--powder {
      background-image: url("../img/icon-two.svg");
      background-repeat: no-repeat;
      background-position: 124px top;
    }

    &.advantages__item--dinning {
      background-image: url("../img/icon-three.svg");
      background-repeat: no-repeat;
      background-position: 124px top;
    }

    &.advantages__item--clock {
      background-image: url("../img/icon-four.svg");
      background-repeat: no-repeat;
      background-position: 124px top;

      & br {
        display: none;
      }
    }
  }

  .advantages__description {
    margin: 0;
    margin-top: 13px;
  }
}
