.example {
  margin-top: 53px;
  padding-bottom: 34px;
}

.example__mobile-wrapper {
  width: 280px;
  margin: 0 auto;
}

.example__title {
  @include big-header;

  margin-bottom: 35px;
}

.example__describtion {
  @include main-text;

  margin-bottom: 10px;

  line-height: 19px;

  & br:last-child {
    display: none;
  }
}

.example__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__item {
  width: 123px;
  margin: 0;
  margin-top: 15px;
  padding: 0;
}

.example__header {
  @include small-header;

  margin: 0;
  padding-top: 13px;
  padding-bottom: 16px;

  text-align: center;
  text-transform: uppercase;

  border-top: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-radius: 3px;
}

.example__subtitle {
  @include small-text;

  position: relative;

  margin-top: -7px;
  margin-bottom: 18px;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 1px;

    width: 20px;
    height: 1px;

    background-color: $border-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 1px;

    width: 20px;
    height: 1px;

    background-color: $border-color;
  }
}

.example__price {
  @include subtitle;

  display: inline;

  text-align: center;

  &:first-child {
    margin-left: 47px;
  }
}

.example__first-slide,
.example__second-slide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.example__first-slide-img {
  margin-top: 43px;
  margin-left: -7px;
}

.example__second-slide-img {
  margin-top: 45px;
  margin-bottom: -10px;
  margin-left: 3px;
}

.example__buttons-wrapper {
  position: relative;
}

.example__button {
  @include product-header;

  position: relative;

  margin-top: 33px;
  padding: 0;

  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &:first-child {
    margin-right: 115px;
    margin-left: 6px;
  }
}

.example__range-filter {
  position: relative;
  top: -18px;
  left: 62px;

  width: 82px;
  height: 12px;
  margin-top: 0;

  background-color: $basic-white;
  border: 1px solid $border-color;
  border-radius: 6px;
}

.example__range-toggle-before {
  position: relative;
  top: 3px;
  left: 4px;

  width: 35px;
  height: 6px;

  background-color: $basic-green;
  border-radius: 6px;
  cursor: pointer;
}

.example__range-toggle-after {
  position: relative;
  top: 4px;
  left: 40px;

  width: 35px;
  height: 6px;

  background-color: $basic-green;
  border-radius: 6px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .example {
    margin-top: -7px;
    padding-bottom: 3px;

    background-image: linear-gradient(to top, #eaeaea 44.5%, #ffffff 40%);
  }

  .example__mobile-wrapper {
    width: 708px;
    margin: 0 auto;
  }

  .example__title {
    @include big-tablet-header;

    margin-bottom: 65px;
  }

  .example__describtion {
    @include tablet-main-text;

    & br:first-child {
      display: none;
    }
  }

  .example__list {
    justify-content: flex-start;
    margin-top: 40px;
  }

  .example__item {
    width: 162px;

    &:first-child {
      margin-right: 42px;
    }
  }

  .example__header {
    padding-bottom: 19px;

    font-size: 30px;
    line-height: 37px;
  }

  .example__subtitle {
    @include main-text;

    margin-top: -10px;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 1px;

      width: 12px;
      height: 1px;

      background-color: $border-color;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 1px;

      width: 12px;
      height: 1px;

      background-color: $border-color;
    }
  }

  .example__subtitle br {
    display: none;
  }

  .example__price {
    @include product-tablet-header;

    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 250px;

    text-align: right;

    &:first-child {
      margin-top: 26px;
      margin-bottom: 12px;
    }
  }

  .example__first-slide-img {
    position: relative;
    margin-top: 43px;
    margin-left: -7px;
  }

  .example__first-slide--preview,
  .example__second-slide--preview {
    position: relative;
    background-image: url("../img/image-cat-tablet.png");
    background-repeat: no-repeat;
    background-position: center 40px;
    z-index: 1;

    .example__first-slide-img,
    .example__second-slide-img {
      opacity: 0;
    }
  }

  .example__second-slide-img {
    margin-top: 45px;
    margin-bottom: -10px;
    margin-left: 3px;
  }

  .example__first-slide,
  .example__second-slide {
    padding-bottom: 32px;
  }

  .example__button {
    @include product-tablet-header;

    position: relative;

    margin-top: 40px;
    padding-bottom: 8px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;

      width: 48px;

      border-bottom: 1px dotted $border-color;
    }

    &:hover::before {
      border-bottom: 1px solid $radio-button-grey;
    }

    &:active::before {
      border: none;
    }

    &:first-child {
      margin-right: 470px;
      margin-left: 0;
    }

    &:last-child {
      margin-left: 500px;
    }
  }

  .example__img {
    position: absolute;
  }

  .example__buttons-wrapper {
    margin-top: 0;
  }

  .example__range-filter {
    position: absolute;
    top: 47px;
    left: 70px;

    width: 428px;
    height: 6px;
    margin-top: 0;

    background-color: $border-color;
    border-radius: 6px;
  }

  .example__range-toggle-before,
  .example__range-toggle-after {
    position: relative;
    top: -15px;
    left: 198px;
    z-index: 0;

    width: 32px;
    height: 32px;

    background-color: $basic-white;
    border: 1px solid $border-color;
    border-radius: 100%;
    box-shadow: 0 1px 3px $basic-box-shaddow-color;

    &:hover {
      box-shadow: 0 2px 4px $special-box-shaddow-color;
    }

    &:active {
      border: 1px solid $basic-green;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      z-index: 1;

      width: 8px;
      height: 8px;

      background-color: $basic-green;
      border-radius: 6px;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    justify-content: center;

    padding-bottom: 40px;
    background-image: linear-gradient(to top, $basic-light-grey 78%, $basic-white 30%);
  }

  .example__mobile-wrapper {
    width: auto;
    margin: 0;
  }

  .example__wrapper {
    width: 536px;
    margin-top: 0;
    padding-top: 66px;
    padding-bottom: 75px;
  }

  .example__title {
    margin-top: 53px;
  }

  .example__header {
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .example__describtion {
    width: 436px;
    margin-bottom: 52px;
    margin-top: 16px;
  }

  .example__describtion br {
    display: none;
  }

  .example__list {
    flex-wrap: wrap;
  }

  .example__item {
    margin-right: 42px;
  }

  .example__subtitle {
    margin-top: -10px;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 1px;

      width: 10px;
      height: 1px;

      background-color: $border-color;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 1px;

      width: 10px;
      height: 1px;

      background-color: $border-color;
    }
  }

  .example__price {
    display: inline-block;
    margin: 0;
    margin-top: 36px;

    text-align: left;

    &:first-child {
      margin-right: 60px;
      margin-left: 0;
    }
  }

  .example__first-slide {
    margin-top: 170px;
  }

  .example__first-slide,
  .example__second-slide {
    background-color: transparent;
  }

  .example__first-slide--preview,
  .example__second-slide--preview {
    position: relative;
    top: -175px;
    background-image: url("../img/image-cat-desktop.png");
    background-repeat: no-repeat;
    background-position: 30px 0;
    z-index: 1;

    .example__first-slide-img,
    .example__second-slide-img {
      opacity: 0;
    }
  }

  .example__buttons-wrapper {
    margin-top: -37px;
    margin-right: -116px;
  }
}
