.main-screen {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 475px;
  padding-top: 27px;


  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 167px, center top;
  background-size: 280px 270px, 320px 305px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-can-mobile@2x.png"), url("../img/index-background-mobile@2x.jpg");
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;

    width: calc((1000vw - 337px) / 2);
    height: 305px;

    background-color: $special-green;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;

    width: calc((1000vw - 337px) / 2);
    height: 305px;

    background-color: $special-green;
    z-index: -1;
  }
}

.main-screen__title {
  @include big-header;

  margin: 0;

  text-align: center;
  color: $basic-white;
}

.main-screen__subtitle {
  @include subtitle;

  margin-top: 25px;

  text-align: center;
  color: $basic-white;
}

.main-screen__img {
  margin-top: 10px;
}

.main-screen__button-wrapper {
  margin: 0 auto;
  margin-top: 309px;
}

.main-screen__button {
  @include button-green;
  @include button;

  width: 280px;
  height: 40px;
  padding-left: 73px;
  padding-right: 73px;

  text-decoration: none;

  &:hover {
    background-color: $basic-dark-green;
  }

  &:focus {
    color: $special-white;

    background-color: $basic-dark-green;
  }
}

@media (min-width: $tablet-width) {
  .main-screen {
    @include underline-none;

    min-height: 830px;

    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: center 248px;
    background-size: 709px 609px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  .main-screen__title {
    @include big-tablet-header;

    margin-top: 21px;
    margin-left: 86px;

    text-align: left;
    color: $basic-black;
  }

  .main-screen__subtitle {
    margin-top: 40px;
    margin-left: 88px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $basic-black;
  }

  .main-screen__button-wrapper {
    margin: 0;
    margin-top: 62px;

    text-align: left;
  }

  .main-screen__button {
    width: 244px;
    margin-left: 82px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 26px;
    padding-right: 26px;

    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .main-screen {
    position: relative;
    top: -134px;

    background-image: url("../img/index-can-desktop@1x.png"), url("../img/index-background-desktop@1x.jpg");
    background-position: 63% 142px, 100% top;
    background-size: 552px 499px, 720px 696px;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-desktop@2x.png"), url("../img/index-background-desktop@2x.jpg");
    }
  }

  .main-screen__title {
    margin-top: 200px;
    margin-left: 80px;
  }

  .main-screen__subtitle {
    margin-top: 40px;
    margin-left: 80px;
  }

  .main-screen__img {
    position: absolute;
    top: 0;
    left: 40%;
    z-index: 2;
  }

  .main-screen__button-wrapper {
    margin-top: 64px;
    margin-left: 0;
  }
}
