.main-services__list {
  @include reset-list;

  display: grid;

  grid-template-columns: 1fr;
}

.services-list__item {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0 33px 18px 21px;

  background-color: $special-light-grey;
}

.services-list__item--weight-loss {
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  background-position: 22px 21px;
}

.services-list__item--weight-gain {
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  background-position: 13px 24px;

  .services-list__title {
    margin-left: 28px;
  }
}

.services-list__title {
  @include small-header;

  margin: 0;
  margin-top: 19px;
  margin-bottom: 7px;
  padding-top: 18px;
  padding-bottom: 15px;
  padding-left: 24px;

  text-align: center;
  text-transform: uppercase;
}

.services-list__subtitle {
  @include main-text;

  padding-bottom: 20px;

  line-height: 19px;

  border-bottom: 1px solid $basic-grey;

  br {
    display: none;
  }
}

.services-list__link {
  margin-top: 2px;
  margin-left: -1px;

  font-weight: 400;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;
  text-transform: uppercase;
  text-decoration: none;

  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 100px 5px;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .services-list__item {
    margin-bottom: 32px;
    padding: 60px 62px 56px 52px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .services-list__item--weight-loss {
    background-size: 200px 211px;
    background-position: 446px 81px;
  }

  .services-list__item--weight-gain {
    background-size: 268px 200px;
    background-position: 412px 91px;

    .services-list__title {
      margin-left: 0;
    }

    & br {
      display: block;
    }

    .services-list__link {
      background-position: 127px 9px;
    }
  }

  .services-list__title {
    margin-bottom: 8px;
    margin-left: 1px;
    padding: 0;

    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  .services-list__subtitle {
    max-width: 377px;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .services-list__link {
    @include product-tablet-header;

    margin-top: 16px;

    background-position: 132px 9px;
  }
}

@media (min-width: $desktop-width) {
  .main-services {
    margin-top: -212px;
  }

  .main-services__list {
    column-gap: 80px;

    grid-template-columns: 570px 570px;
  }

  .services-list__item {
    margin-bottom: 30px;
    padding: 41px 52px 58px 52px;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  .services-list__item--weight-loss {
    background-position: 52px 40px;
    background-size: 100px;

    .services-list__link {
      background-position: 135px 9px;
    }
  }

  .services-list__item--weight-gain {
    background-position: 33px 46px;
    background-size: 134px 100px;

    .services-list__title {
      margin-left: 64px;
    }

    .services-list__link {
      background-position: 129px 9px;
    }
  }

  .services-list__title {
    margin-top: 37px;
    margin-left: 22px;

    text-align: center;
  }

  .services-list__subtitle {
    min-width: 100%;
    margin-top: 65px;
    padding-bottom: 0;

    & br {
      display: none;
    }
  }

  .services-list__link {
    margin-top: 11px;
    margin-left: 0;
    background-position: 135px 9px;
  }
}
