.additional {
  position: relative;

  margin-top: 25px;
  padding: 0;

  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: -22px;

    width: 136px;
    height: 2px;

    background-color: $basic-green;
  }
}

.additional__title {
  margin-bottom: 24px;
  margin-left: -4px;

  text-align: left;

  @include small-header;
}

.additional__list {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  @include reset-list;
}

.additional__item {
  margin-bottom: 22px;
  margin-left: 43px;
}

.additional__label {
  position: relative;

  margin-left: 2px;

  @include product-header;
}

.additional__input + .additional__label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -45px;

  width: 26px;
  height: 26px;

  border: 1px solid $border-color;
  cursor: pointer;
}

.additional__input:hover + .additional__label::before {
  border: 1px solid $radio-button-grey;
}

.additional__input:checked + .additional__label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -40px;

  width: 26px;
  height: 26px;

  background-image: url("../img/checkbox-checked.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.additional__input:disabled + .additional__label {
  cursor: auto;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .additional {
    @include container-form;

    margin-top: 65px;

    &::after {
      top: 21px;
      right: -70px;

      width: 446px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 21px;
      left: -70px;

      width: 30px;
      height: 2px;

      background-color: $basic-green;
    }
  }

  .additional__title {
    margin-left: 1px;

    @include big-header;
  }

  .additional__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 41px;
  }

  .additional__item {
    min-width: 245px;
    margin-bottom: 48px;
  }

  .additional__label {
    margin-left: 18px;

    @include product-tablet-header;
  }

  .additional__input + .additional__label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -60px;

    width: 40px;
    height: 40px;

    border: 1px solid $border-color;
    cursor: pointer;
  }

  .additional__input:checked + .additional__label::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -48px;

    width: 26px;
    height: 26px;

    background-image: url("../img/checkbox-checked.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

@media (min-width: $desktop-width) {
  .additional {
    width: auto;
    margin-top: 65px;

    &::after {
      top: 23px;
      right: -110px;

      width: 1078px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 23px;
      left: -112px;

      width: 70px;
      height: 2px;

      background-color: $basic-green;
    }
  }

  .additional__list {
    justify-content: space-between;
    margin-top: 40px;
  }

  .additional__item {
    flex-basis: auto;
    min-width: 200px;
  }

  .additional__label {
    margin-left: 15px;
  }

  .additional__input + .additional__label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -60px;

    width: 40px;
    height: 40px;

    border: 1px solid $border-color;
    cursor: pointer;
  }

  .additional__input:checked + .additional__label::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -48px;

    width: 26px;
    height: 26px;

    background-image: url("../img/checkbox-checked.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
