.catalog__title {
  position: relative;
  margin: 0;
  margin-top: 27px;
  padding-bottom: 42px;

  @include big-header;
  @include underline-grey;
}

.catalog__list {
  @include reset-list;

  display: grid;

  grid-template-columns: 1fr;
}

.catalog__item-list {
  @include reset-list;
}

.catalog__item-info {
  display: flex;
  justify-content: space-between;
  width: 140px;

  @include small-text;
}

.catalog__item-data {
  margin: 0;
  margin-top: 3px;
  padding: 0;
}

.catalog__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
  padding-bottom: 24px;

  @include underline-grey;
}

.catalog__img {
  margin: auto;
}

.catalog__item-header {
  color: $special-dark-grey;

  @include product-header;
}

.catalog__item-description {
  display: flex;

  @include small-text;
}

.catalog__table {
  margin: 0;
  padding: 0;
}

.catalog__more-products {
  position: relative;

  margin-top: 26px;
  padding-bottom: 21px;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 125px;

    width: 30px;
    height: 2px;

    background-color: $basic-grey;
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 125px;

    width: 30px;
    height: 2px;
    transform: rotate(90deg);

    background-color: $basic-grey;
  }
}

.catalog__more-products-title {
  margin-top: 53px;
  margin-bottom: 0;
  margin-left: 1px;

  text-align: center;

  @include product-header;
}

.catalog__more-products-title br {
  display: none;
}

.catalog__more-products-subtitle {
  margin-top: 10px;

  @include small-text;
}

.catalog__more-products-subtitle br {
  display: none;
}

.catalog__more-products-button {
  margin-top: 10px;

  @include underline-grey;
}

.catalog__button {
  margin-top: -12px;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    margin-top: 65px;

    @include big-tablet-header;
    @include underline-none;
  }

  .catalog__list {
    @include reset-list;

    margin-top: 122px;

    column-gap: 60px;

    grid-template-columns: 1fr 1fr;
    row-gap: 140px;
  }

  .catalog__item-list {
    width: 252px;
    margin-top: 20px;
    padding: 0;
  }

  .catalog__item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-width: 324px;
    min-height: 430px;
    padding-right: 37px;
    padding-bottom: 34px;
    padding-left: 39px;

    background-color: $special-light-grey;

    @include underline-none;
  }

  .catalog__img {
    position: absolute;
    bottom: 303px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .catalog__item-header {
    max-width: 150px;
    margin: 0 auto;
    margin-top: 153px;
    margin-bottom: 8px;

    line-height: 24px;
    text-align: center;

    @include product-tablet-header;

    br {
      display: none;
    }
  }

  .catalog__item-info {
    display: flex;
    justify-content: space-between;
    width: 248px;
    margin: 0;
    margin-top: 7px;
    padding: 0;
    padding-bottom: 9px;

    border-bottom: 1px solid $border-color;

    @include catalog__item-text;
  }

  .catalog__button {
    width: 248px;
    height: 29px;
    margin-top: 33px;
    padding-bottom: 0;

    @include product-header;
  }

  .catalog__more-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 324px;
    margin-top: 0;
    padding-bottom: 0;

    border: 2px solid $special-light-grey;

    &::before {
      top: 82px;
      left: 132px;

      width: 60px;
    }

    &::after {
      top: 82px;
      left: 132px;

      width: 60px;
    }
  }

  .catalog__more-products-title {
    margin-top: 161px;

    line-height: 22px;

    @include product-tablet-header;
  }

  .catalog__more-products-title br {
    display: block;
  }

  .catalog__more-products-subtitle {
    margin-top: 25px;

    line-height: 18px;

    @include catalog__item-text ;
  }

  .catalog__more-products-subtitle br {
    display: block;
  }

  .catalog__more-products-button {
    width: 249px;
    margin-top: 68px;

    @include underline-none;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    column-gap: 80px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 144px;
  }

  .catalog__item-list {
    width: 173px;
  }

  .catalog__item {
    width: 245px;
    min-height: 431px;
  }

  .catalog__item-info {
    width: 173px;
  }

  .catalog__button {
    width: 168px;
  }

  .catalog__more-products {
    width: 245px;

    &::before {
      top: 51px;
      left: 92px;
    }

    &::after {
      top: 51px;
      left: 92px;
    }
  }

  .catalog__more-products-button {
    width: 169px;
  }
}
