.comment {
  position: relative;

  margin-top: 15px;
  padding: 0;

  border: none;
}

.comment__title {
  margin-left: -4px;

  text-align: left;
  text-transform: none;

  @include small-header;
  @include underline-green-mobile;

  &::after {
    left: 162px;
  }
}

.comment__text {
  width: 262px;
  min-height: 135px;
  margin-top: 34px;
  padding-top: 11px;
  padding-left: 12px;

  font-family: "Oswald", "Arial", sans-serif;
  color: $special-dark-grey;

  border: 1px solid $special-grey;

  resize: none;

  @include product-header;
}

@media (min-width: $tablet-width) {
  .comment {
    @include container-form;

    margin-top: 45px;
  }

  .comment__title {
    margin-left: 6px;

    @include big-header;
    @include underline-green;

    &::after {
      left: 289px;
    }

    &::before {
      right: 700px;
    }
  }

  .comment__text {
    width: 616px;
    min-height: 160px;
    margin-top: 72px;
    margin-left: 8px;
    padding-left: 19px;

    line-height: 30px;

    @include product-tablet-header;
  }
}

@media (min-width: $desktop-width) {
  .comment {
    width: auto;
    margin-top: 50px;
  }

  .comment__title {
    &::after {
      left: 332px;
    }

    &::before {
      right: 1300px;
    }
  }

  .comment__text {
    width: 100%;
    min-height: 161px;
    margin-top: 80px;
    padding-top: 4px;
    padding-left: 15px;
  }
}
