.contacts {
  position: relative;

  margin-top: 30px;
  padding: 0;

  border: none;
}

.contacts__title {
  margin: 0;
  margin-bottom: 32px;
  margin-left: -2px;
  padding: 0;

  text-align: left;
  text-transform: none;

  @include small-header;
  @include underline-green-mobile;

  &::after {
    left: 221px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;

  @include reset-list;
}

.contacts__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.contacts__label {
  display: inline;
  flex-grow: 0;
  margin-top: 14px;
  margin-right: 10px;
  margin-left: 0;

  color: $basic-dark-grey;

  @include product-header;
}

.contacts__input {
  display: inline;
  flex-grow: 1;
  width: auto;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 15px;

  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: $basic-dark-grey;

  border: 1px solid $special-grey;

  @include product-header;

  &:focus {
    border: 1px solid $basic-dark-grey;
  }

  &:focus + .icon-email {
    stroke: $basic-green;
  }

  &:focus + .icon-phone {
    fill: $basic-green;
  }
}

.icon-email {
  position: absolute;
  top: 20px;
  left: 600px;
  stroke: $special-dark-grey;
}

.icon-phone {
  position: absolute;
  top: 15px;
  left: 600px;
  fill: $special-dark-grey;
}

.contacts__input--phone-number {
  background-repeat: no-repeat;
  background-position: 171px center;
}

@media (min-width: $tablet-width) {
  .contacts {
    @include container-form;

    margin-top: 72px;
  }

  .contacts__title {
    margin-left: 1px;

    @include big-header;
    @include underline-green;

    &::after {
      left: 550px;
    }

    &::before {
      right: 700px;
    }
  }

  .contacts__list {
    margin-top: 44px;
  }

  .contacts__item {
    margin-bottom: 20px;
  }

  .contacts__label {
    margin-right: 20px;
  }

  .contacts__input {
    padding-bottom: 9px;
  }

  .contacts__label,
  .contacts__input {
    @include product-tablet-header;
  }

  .contacts__input--email {
    background-position: 514px center;
  }

  .contacts__input--phone-number {
    background-position: 498px center;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;

    width: auto;
    margin-top: 55px;
  }

  .icon-email {
    top: 20px;
    left: 520px;
  }

  .icon-phone {
    top: 15px;
    left: 530px;
  }

  .contacts__title {
    &::after {
      left: 662px;
    }

    &::before {
      right: 1300px;
    }
  }

  .contacts__list {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 44px;
  }

  .contacts__item {
    flex-grow: 1;

    &:first-child {
      margin-right: 95px;
    }
  }

  .contacts__label {
    margin-top: 15px;
    margin-right: 20px;
  }

  .contacts__input--email {
    background-position: 438px center;
  }

  .contacts__input--phone-number {
    background-position: 435px center;
  }
}
