.contacts {
  border: none;
}

.contacts__title {
  margin-bottom: 32px;

  text-align: left;
  text-transform: none;

  @include small-header;
}

.contacts__list {
  display: flex;
  flex-direction: column;

  @include reset-list;
}

.contacts__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.contacts__label {
  margin-right: 12px;

  color: $basic-dark-grey;

  @include product-header;
}

.contacts__input {
  width: 100%;
  padding: 14px;

  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: $basic-dark-grey;

  border: 1px solid $special-grey;

  @include product-header;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    @include big-header;
  }

  .contacts__label,
  .contacts__input {
    @include product-tablet-header;
  }
}

@media (min-width: $desktop-width) {
  .contacts__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
