.example {
  margin-top: 33px;
  padding-bottom: 35px;

  background-color: $basic-light-grey;
}

.example__mobile-wrapper {
  width: 280px;
  margin: 0 auto;
}

.example__title {
  margin-bottom: 35px;

  @include big-header;
}

.example__describtion {
  @include main-text;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include reset-list;
}

.example__item {
  width: 123px;
  margin: 0;
  margin-top: 15px;
  padding: 0;
}

.example__header {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 17px;

  text-align: center;

  border-top: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-radius: 3px;

  @include small-header;
}

.example__subtitle {
  position: relative;

  margin-top: -7px;
  margin-bottom: 18px;
  padding: 0;

  @include small-text;


  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 1px;

    width: 20px;
    height: 1px;

    background-color: $border-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 1px;

    width: 20px;
    height: 1px;

    background-color: $border-color;
  }
}

.example__price {
  display: inline;

  text-align: center;

  @include subtitle;

  &:first-child {
    margin-left: 47px;
  }
}

.example__first-slide,
.example__second-slide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.example__first-slide-img {
  margin-top: 43px;
  margin-left: -7px;
}

.example__second-slide-img {
  margin-top: 45px;
  margin-bottom: -10px;
  margin-left: 3px;
}

.example__button {
  position: relative;

  margin-top: 32px;

  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @include product-header;
}

.example__first-slide .example__button:first-child {
  margin-left: 4px;
  padding-right: 110px;

  cursor: auto;


  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 62px;

    box-sizing: border-box;
    width: 84px;
    height: 14px;

    background-color: $basic-white;
    background-image: url("../img/example-button.svg");
    background-repeat: no-repeat;
    background-position: 6px center;
    border: 1px solid $border-color;
    border-radius: 6px;
  }
}

.example__second-slide .example__button:last-child {
  margin-left: 3px;
  padding-left: 110px;

  cursor: auto;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 62px;

    box-sizing: border-box;
    width: 84px;
    height: 14px;

    background-color: $basic-white;
    background-image: url("../img/example-button.svg");
    background-repeat: no-repeat;
    background-position: 40px center;
    border: 1px solid $border-color;
    border-radius: 6px;
  }
}

@media (min-width: $tablet-width) {
  .example {
    padding-bottom: 0;

    background-image: linear-gradient(to top, #eaeaea 40%, #ffffff 40%);
  }

  .example__mobile-wrapper {
    width: 708px;
    margin: 0 auto;
  }

  .example__title {
    margin-top: 10px;
    margin-bottom: 65px;

    @include big-tablet-header;
  }

  .example__describtion {
    @include tablet-main-text;

    & br {
      display: none;
    }
  }

  .example__list {
    justify-content: flex-start;
    margin-top: 40px;
  }

  .example__item {
    width: 162px;

    &:first-child {
      margin-right: 42px;
    }
  }

  .example__header {
    padding-bottom: 19px;

    font-size: 30px;
    line-height: 37px;
  }

  .example__subtitle {
    margin-top: -10px;

    @include main-text;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 1px;

      width: 12px;
      height: 1px;

      background-color: $border-color;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 1px;

      width: 12px;
      height: 1px;

      background-color: $border-color;
    }
  }

  .example__subtitle br {
    display: none;
  }

  .example__list .example__price {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 167px;

    text-align: right;

    @include product-tablet-header;

    &:first-child {
      margin-top: 26px;
      margin-bottom: 12px;
    }
  }

  .example__first-slide {
    // background-color: $basic-light-grey;
  }

  .example__first-slide-img {
    // position: absolute;
    // top: -100px;

    margin-top: 43px;
    margin-left: -7px;
  }

  .example__second-slide-img {
    // position: absolute;
    // top: -100px;

    margin-top: 45px;
    margin-bottom: -10px;
    margin-left: 3px;
  }

  .example__first-slide,
  .example__second-slide {
    // position: relative;

    // margin-top: 116px;
    padding-bottom: 64px;
  }

  .example__button {
    margin-top: 60px;

    background-color: transparent;
    border-bottom: 1px dotted $special-border-color;

    @include product-tablet-header;
  }

  .example__first-slide .example__button:first-child {
    padding: 0;

    &::after,
    &::before {
      display: none;
    }
  }

  .example__second-slide .example__button:last-child,
  .example__first-slide .example__button:last-child {
    margin-left: 3px;
    padding-left: 460px;

    cursor: auto;

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      left: 209px;
      z-index: 2;

      box-sizing: border-box;
      width: 34px;
      height: 34px;

      background-color: $basic-white;
      background-image: url("../img/slider-control.svg");
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid $border-color;
      border-radius: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 9px;
      left: 10px;
      z-index: 1;

      box-sizing: border-box;
      width: 428px;
      height: 6px;

      background-color: $border-color;
      border-radius: 6px;
    }
  }

  .example__img {
    position: absolute;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    justify-content: center;

    background-image: linear-gradient(to top, $basic-light-grey 70%, $basic-white 30%);
  }

  .example__mobile-wrapper {
    width: auto;
    margin: 0;
  }

  .example__wrapper {
    width: 536px;
    margin-top: 76px;
    padding-top: 56px;
    padding-bottom: 75px;
    padding-left: 66px;
  }

  .example__title {
    margin-left: 67px;
    padding-top: 35px;
  }

  .example__header {
    padding-bottom: 20px;
  }

  .example__describtion {
    width: 436px;
    margin-bottom: 57px;
  }

  .example__describtion br {
    display: none;
  }

  .example__list {
    flex-wrap: wrap;
  }

  .example__item {
    margin-right: 42px;
  }

  .example__subtitle {
    margin-top: -10px;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 1px;

      width: 10px;
      height: 1px;

      background-color: $border-color;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 1px;

      width: 10px;
      height: 1px;

      background-color: $border-color;
    }
  }

  .example__price {
    display: inline-block;
    margin-top: 33px;
    margin-left: 0;

    text-align: left;

    &:first-child {
      margin-right: 60px;
    }
  }

  .example__first-slide {
    margin-top: 170px;
  }

  .example__first-slide,
  .example__second-slide {
    background-color: transparent;
  }
}
