.page-footer {
  background-color: $special-light-grey;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icons__list {
  display: flex;

  @include reset-list;
}

.footer-icons__item {
  margin-right: 36px;

  &:last-child {
    margin-right: 0;
  }
}

.footer-icons__link {
  text-decoration: none;
}

.copyright__link {
  display: inline-block;

  vertical-align: middle;
  color: $basic-dark-grey;
  text-decoration: none;

  &:first-child {
    margin-right: 140px;
  }
}

.copyright__text {
  font-size: 16px;

  @include main-text;
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .copyright__link {
    &:first-child {
      margin-right: 22px;
    }
  }
}
