.page-footer {
  background-color: $special-light-grey;
}

.footer {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  padding: 35px 0 22px 0;
}

.footer-icons__list {
  @include reset-list;

  display: flex;
  width: 280px;
  justify-content: center;
  margin-top: 23px;
  padding: 20px 0 10px;

  border-top: 1px solid $basic-grey;
  border-bottom: 1px solid $basic-grey;
}

.footer-icons__item {
  margin-right: 36px;

  &:last-child {
    margin-right: 0;
  }
}

.footer-icons__link {
  text-decoration: none;
}

.copyright {
  margin-top: 9px;
}

.copyright__link {
  display: inline-block;

  vertical-align: middle;
  color: $basic-dark-grey;
  text-decoration: none;

  &:first-child {
    margin-right: 108px;
  }
}

.copyright__text {
  margin-top: 18px;

  font-size: 16px;
  font-family: "Arial", "Helvetica", sans-serif;
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 45px 30px 61px 30px;
  }

  .footer-icons__list {
    padding: 0;

    border: none;
  }

  .copyright__link {
    &:first-child {
      margin-right: 22px;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 57px 110px 58px 110px;
  }
}
