.footer-adress__title {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $special-black;
  text-transform: uppercase;
}

.page-footer__address {
  font-style: normal;

  @include main-text;
}
