.form__title {
  @include big-header;
}

.form__subtitle {
  text-align: left;

  @include subtitle;
}

.form__small-text {
  font-weight: regular;
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: $basic-black;
}
