.page-header {
  position: relative;

  display: flex;
  flex-direction: column;
}

.page-header__logo {
  margin-top: 11px;
  margin-bottom: 12px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__toggle--open {
  position: absolute;
  top: 21px;
  right: 12px;

  padding: 15px;

  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  border: none;
}

.main-nav__toggle--close {
  position: absolute;
  top: 23px;
  right: 12px;

  padding: 15px;

  background-color: transparent;
  background-image: url("../img/menu-mobile.svg");
  background-repeat: no-repeat;
  border: none;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  font-size: 20px;
  text-align: center;
  text-transform: uppercase;

  @include reset-list;
}

.site-list__item {
  position: relative;

  padding-top: 18px;
  padding-bottom: 18px;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;
    margin-right: -3000px;
    margin-left: -3000px;
    padding-right: 3000px;
    padding-left: 3000px;

    background-color: $special-border-color;
  }

  &:first-child {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      width: auto;
      height: 1px;
      margin-right: -3000px;
      margin-left: -3000px;
      padding-right: 3000px;
      padding-left: 3000px;

      background-color: $special-border-color;
    }
  }
}

.site-list__link {
  font-weight: 600;
  color: $basic-black;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-header__logo {
    width: 174px;
    height: 52px;
    margin-top: 22px;
  }

  .main-nav__toggle--open {
    position: absolute;

    opacity: 0;
  }

  .main-nav__list {
    flex-direction: row;
    margin-top: 23px;

    font-size: 18px;
    text-align: left;
  }

  .site-list__item {
    margin-right: 35px;

    border-top: none;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }

    &:last-child {
      margin-right: 0;

      border: none;
    }

    .site-list__link {
      font-weight: 400;
    }
  }

  .site-list__link {
    padding-bottom: 8px;

    &:hover {
      color: $special-black;
    }

    &:active {
      color: $special-light-black;
    }

    &:focus {
      color: $basic-black;

      border-bottom: 2px solid $basic-green;
    }
  }
}

@media (min-width: $desktop-width) {
  .page__body--index {
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    border-bottom: none;
  }

  .site-list__link {
    padding-bottom: 8px;

    color: $basic-black;
    text-decoration: none;

    &:hover {
      color: $special-black;
    }

    &:active {
      color: $special-light-black;
    }

    &:focus {
      color: $basic-black;

      border-bottom: 2px solid $basic-green;
    }
  }

  .page-header__logo {
    height: 59px;
    margin-top: 53px;
    margin-left: 80px;
  }

  .main-nav__list {
    margin-top: 50px;
    margin-right: -46px;
    padding-bottom: 20px;

    font-size: 20px;
  }

  .site-list__link--white {
    padding-bottom: 8px;

    color: $basic-white;

    &:hover {
      color: $special-light-white;
    }

    &:active {
      color: $special-white;
    }

    &:focus {
      color: $basic-white;

      border-bottom: 2px solid $basic-white;
    }
  }
}
