.main-services__list {
  display: grid;

  grid-template-columns: 1fr;

  @include reset-list;
}

.services-list__item {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 0 33px 18px 21px;

  background-color: $special-light-grey;
}

.services-list__item--weightloss {
  margin-bottom: 20px;

  background-image: url("../img/sprite.svg#icon-cat-slim");
  background-position: 22px 21px;
}

.services-list__item--weightgain {
  background-image: url("../img/sprite.svg#icon-cat-pro");
  background-repeat: no-repeat;
  background-position: 13px 24px;

  .services-list__title {
    margin-left: 36px;
  }
}

.services-list__title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 8px;
  padding-top: 18px;
  padding-bottom: 15px;
  padding-left: 26px;

  text-align: center;
  text-transform: uppercase;

  @include small-header;
}

.services-list__subtitle {
  padding-bottom: 24px;

  border-bottom: 1px solid $basic-grey;

  @include main-text;

  br {
    display: none;
  }
}

.services-list__link {
  margin-top: 2px;
  margin-left: -1px;

  font-weight: 400;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;
  text-transform: uppercase;
  text-decoration: none;

  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 100px 5px;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .services-list__item {
    padding: 58px 62px 56px 52px;
  }

  .services-list__item--weightloss {
    margin-bottom: 20px;

    background-size: 200px 211px;
    background-position: 446px 81px;
  }

  .services-list__item--weightgain {
    background-size: 268px 200px;
    background-position: 412px 91px;

    .services-list__title {
      margin-left: 0;
    }
  }

  .services-list__title {
    margin-bottom: 10px;
    margin-left: 1px;
    padding: 0;

    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  .services-list__subtitle {
    max-width: 377px;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .services-list__link {
    margin-top: 13px;
    margin-left: 1px;

    background-position: 131px 8px;

    @include product-tablet-header;
  }
}

@media (min-width: $desktop-width) {
  .main-services__list {
    column-gap: 80px;

    grid-template-columns: 570px 570px;
  }

  .services-list__item {
    padding: 41px 52px 55px 52px;
  }

  .services-list__item--weightloss {
    margin-bottom: 0;

    background-image: url("../img/cat_back-desktop.svg");
    background-position: 52px 41px;
    background-size: 100px;
  }

  .services-list__item--weightgain {
    background-image: url("../img/cat-desktop.svg");
    background-position: 33px 47px;
    background-size: 134px 100px;
  }

  .services-list__title {
    margin-top: 37px;
    margin-left: 26px;

    text-align: center;

    &:last-child {
      margin-left: 64px;
    }
  }

  .services-list__subtitle {
    margin-top: 42px;
    margin-left: 2px;
    padding-bottom: 8px;
  }
}
