.main-screen {
  display: flex;
  flex-direction: column;
  padding-top: 27px;
  padding-bottom: 22px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.main-screen__title {
  text-align: center;
  color: $basic-white;

  @include big-header;
}

.main-screen__subtitle {
  color: $basic-white;

  @include subtitle;
}

@media (min-width: $tablet-width) {
  .main-screen__title {
    @include big-tablet-header;
    text-align: left;
    color: $basic-black;
  }

  .main-screen__subtitle {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $basic-black;
  }

  .main-screen__button {
    width: 244px;
    height: 54px;

    font-size: 20px;
  }

  .main-screen__button-wrapper {
    text-align: left;
  }
}
