.more-products {
  position: relative;

  display: grid;
  margin-top: 8px;

  grid-template-columns: 1fr;

  &::after {
    content: "";
    position: absolute;
    top: 35px;
    right: 0;
    left: 0;

    width: auto;
    height: 2px;

    background-color: $basic-green;
  }
}

.more-products__title {
  text-transform: none;

  @include small-header;
}

.more-products__list {
  margin-top: 34px;

  @include reset-list;
}

.more-products__item {
  position: relative;

  padding-bottom: 17px;

  border-bottom: 1px solid $border-color;

  &:first-child {
    border-top: 1px solid $border-color;
  }
}

.more-products__header {
  margin-top: 11px;
  margin-bottom: 0;
  margin-left: 2px;

  color: $special-dark-grey;

  @include product-header;
}

.more-products__item-describtion {
  display: flex;
  justify-content: space-between;
  margin-top: -6px;

  @include main-text;
}

.more-products__button {
  margin-top: -1px;
}

.sale {
  width: 280px;
  height: 289px;
  margin-top: 39px;
  margin-bottom: 35px;

  background-color: $basic-green;
  background-image: url("../img/icon_gift.svg"), url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 58px, center center;
}

.sale__describtion {
  margin-top: 187px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: $basic-white;
}

@media (min-width: $tablet-width) {
  .more-products {
    &::after {
      content: "";
      position: absolute;
      top: 82px;
      right: 0;

      width: 328px;
      height: 2px;

      background-color: $basic-green;
    }

    &::before {
      content: "";
      position: absolute;
      top: 82px;
      left: 0;

      width: 30px;
      height: 2px;

      background-color: $basic-green;
    }
  }

  .more-products__list {
    margin-top: 81px;
  }

  .more-products__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 633px;
    padding: 26px 37px 28px 37px;

    border: 1px solid $border-color;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid $border-color;
    }
  }

  .more-products__title {
    margin-top: 60px;
    padding-left: 37px;

    line-height: 20px;

    @include big-header;
  }

  .more-products__header {
    margin: 0;
    margin-left: 1px;

    line-height: 20px;

    @include product-tablet-header;
  }

  .more-products__text {
    margin-top: 9px;

    line-height: 20px;

    @include catalog__item-text;

    &:first-child {
      margin-right: 51px;
    }
  }

  .more-products__button {
    width: 632px;
    height: 38px;
    margin-top: 7px;
  }

  .sale {
    width: 100%;
    height: 200px;
    margin-top: 67px;

    background-position: 79px center;
  }

  .sale__describtion {
    margin-top: 74px;
    padding-top: 0;
    padding-left: 423px;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .more-products {
    display: flex;
    // column-gap: 80px;
    //
    // grid-template-columns: 896px 245px;

    &::after {
      content: "";
      position: absolute;
      top: 83px;
      right: 0;

      width: 870px;
      height: 2px;

      background-color: $basic-green;
    }

    &::before {
      content: "";
      position: absolute;
      top: 83px;
      left: 0;

      width: 55px;
      height: 2px;

      background-color: $basic-green;
    }
  }

  .more-products__list {
    width: 896px;
    margin-right: 80px;
    margin-left: 36px;
  }

  .more-products__item {
    display: grid;
    width: 100%;
    padding: 15px 0 6px 0;

    column-gap: 40px;

    border-right: none;
    border-left: none;

    grid-template-columns: 1fr 1fr 244px;
  }

  .more-products__header {
    margin-top: 10px;
  }

  .more-products__item-describtion {
    margin-top: 5px;
  }

  .more-products__button {
    width: 244px;
    height: 40px;
    margin: 0;
    padding: 0;
  }

  .sale {
    width: 245px;
    min-height: 289px;
    margin-top: 175px;

    background-position: center 56px;
  }

  .sale__describtion {
    padding-top: 106px;
    padding-left: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: "Arial", "Helvetica", sans-serif;
    text-align: center;
    color: $basic-white;
  }
}
