.personal-info {
  border: none;
}

.personal-info__list {
  @include reset-list;
}

.personal-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.personal-info__label {
  margin-right: 24px;

  color: $basic-dark-grey;

  @include product-header;
}

.personal-info__input {
  width: 100%;
  padding: 14px;

  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: $basic-dark-grey;

  border: 1px solid $special-grey;

  @include product-header;
}

.personal-info__input::placeholder {
  text-align: left;
  color: $basic-dark-grey;

  @include product-header;
}

@media (min-width: $tablet-width) {
  .personal-info__label,
  .personal-info__input,
  .personal-info__input::placeholder {
    color: $basic-dark-grey;

    @include product-tablet-header;
  }
}
