.radio {
  border: none;
}

.radio__list {
  @include reset-list;
}

.radio__item {
  margin-bottom: 13px;
}

.radio__label {
  color: $special-dark-grey;

  @include product-header;
}

@media (min-width: $tablet-width) {
  .radio__list {
    border: 1px solid $special-grey;
  }

  .radio__label {
    @include product-tablet-header;
  }
}
