.utils {
  border: none;
}

.utils__title {
  margin-bottom: 24px;

  text-align: left;

  @include small-header;
}

.utils__list {
  display: flex;
  flex-direction: column;

  @include reset-list;
}

.utils__item {
  margin-bottom: 25px;
}

.utils__label {
  @include product-header;
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (min-width: $tablet-width) {
  .utils__title {
    @include big-header;
  }

  .utils__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .utils__item {
    flex-basis: 50%;
  }

  .utils__label {
    @include product-tablet-header;
  }

  .form__button-wrapper {
    flex-direction: row;
  }

  .form__button {
    width: 282px;
    height: 52px;
    margin-right: 61px;

    @include product-tablet-header;
  }

  .form__small-text {
    text-transform: none;

    @include product-header;
  }
}

@media (min-width: $desktop-width) {
  .utils__item {
    flex-basis: 25%;
  }

  .form__button {
    width: 568px;
    height: 52px;
  }
}
