// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

// Colors
$basic-black: #1f1f1f;
$basic-white: #ffffff;
$special-white: #f6f6f6;
$basic-brown: #b98348;
$special-brown: #8b5c28;
$basic-grey: #c2c2c2;
$basic-dark-grey: #838181;
$basic-light-grey: #eeeeee;
$special-grey: #c4c4c4;
$basic-opacity-brown: rgba(185, 131, 72, 0.7);
