.catalog__title {
  @include big-header;
  @include underline-grey;

  position: relative;
  margin: 0;
  margin-top: 28px;
  padding-bottom: 42px;
}

.catalog__list {
  @include reset-list;

  display: grid;

  grid-template-columns: 1fr;
}

.catalog__item-list {
  @include reset-list;
}

.catalog__item-info {
  @include small-text;

  display: flex;
  justify-content: space-between;
  width: 140px;
}

.catalog__item-data {
  margin: 0;
  margin-top: 4px;
  padding: 0;
}

.catalog__item {
  @include underline-grey;

  position: relative;

  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
  padding-bottom: 25px;
}

.catalog__img {
  position: relative;
  bottom: 5px;
  z-index: -1;
}

.catalog__item-header {
  @include product-header;

  margin-top: 11px;

  color: $special-dark-grey;
}

.catalog__item-description {
  @include small-text;

  display: flex;
}

.catalog__table {
  margin: 0;
  padding: 0;
}

.catalog__more-products {
  position: relative;

  margin-top: 26px;
  padding-bottom: 22px;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 125px;

    width: 30px;
    height: 2px;

    background-color: $basic-grey;
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 125px;

    width: 30px;
    height: 2px;
    transform: rotate(90deg);

    background-color: $basic-grey;
  }
}

.catalog__more-products-title {
  @include product-header;

  margin-top: 54px;
  margin-bottom: 0;
  margin-left: 1px;

  text-align: center;
}

.catalog__more-products-title br {
  display: none;
}

.catalog__more-products-subtitle {
  @include small-text;

  margin-top: 10px;
}

.catalog__more-products-subtitle br {
  display: none;
}

.catalog__more-products-button {
  @include button-grey;
  @include button;
  @include underline-grey;

  margin-top: 10px;

  &:hover {
    background-color: $special-border-color;
  }

  &:active {
    color: $border-color;
  }
}

.catalog__button {
  @include button-green;
  @include button;

  margin-top: -12px;

  text-decoration: none;

  &:hover {
    background-color: $basic-dark-green;
  }

  &:focus {
    color: $special-white;

    background-color: $basic-dark-green;
  }
}

@media (min-width: $tablet-width) {
  .catalog__title {
    @include big-tablet-header;
    @include underline-none;

    margin-top: 48px;
  }

  .catalog__list {
    @include reset-list;

    margin-top: 122px;

    column-gap: 60px;

    grid-template-columns: 1fr 1fr;
    row-gap: 141px;
  }

  .catalog__item-list {
    width: 252px;
    margin-top: 20px;
    padding: 0;
  }

  .catalog__item {
    @include underline-none;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-width: 324px;
    min-height: 430px;
    padding-right: 37px;
    padding-bottom: 34px;
    padding-left: 38px;

    background-color: $special-light-grey;
  }

  .catalog__img {
    position: absolute;
    bottom: 300px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }

  .catalog__item-header {
    @include product-tablet-header;

    max-width: 150px;
    margin-left: 50px;
    margin-top: 153px;
    margin-bottom: 8px;

    line-height: 24px;
    text-align: center;

    br {
      display: none;
    }
  }

  .catalog__item-info {
    @include catalog__item-text;

    display: flex;
    justify-content: space-between;
    width: 248px;
    margin: 0;
    margin-top: 6px;
    padding: 0;
    padding-bottom: 9px;

    border-bottom: 1px solid $border-color;
  }

  .catalog__button {
    @include product-header;

    width: 248px;
    height: 29px;
    margin-top: 33px;
    padding-bottom: 0;
  }

  .catalog__more-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    margin-top: 0;
    padding-bottom: 0;

    border: 2px solid $special-light-grey;

    &::before {
      top: 79px;
      left: 132px;

      width: 60px;
    }

    &::after {
      top: 79px;
      left: 132px;

      width: 60px;
    }
  }

  .catalog__more-products-title {
    @include product-tablet-header;

    margin-top: 159px;

    line-height: 22px;
  }

  .catalog__more-products-title br {
    display: block;
  }

  .catalog__more-products-subtitle {
    @include catalog__item-text;

    margin-top: 25px;

    line-height: 18px;
  }

  .catalog__more-products-subtitle br {
    display: block;
  }

  .catalog__more-products-button {
    @include underline-none;

    width: 249px;
    margin-top: 68px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    margin-top: 58px;
  }

  .catalog__list {
    column-gap: 81px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 144px;
  }

  .catalog__item-list {
    width: 173px;
  }

  .catalog__item {
    width: 245px;
    min-height: 431px;
    padding-left: 37px;
    padding-right: 33px;
  }

  .catalog__item-header {
    margin-top: 155px;
    margin-left: 8px;
    line-height: 23px;
  }

  .catalog__item-info {
    max-width: 165px;
  }

  .catalog__button {
    width: 168px;
    margin-left: -4px;
    margin-top: 35px;
  }

  .catalog__more-products {
    width: 240px;

    &::before {
      top: 81px;
      left: 90px;
    }

    &::after {
      top: 81px;
      left: 90px;
    }
  }

  .catalog__more-products-subtitle {
    margin-top: 23px;
  }

  .catalog__more-products-button {
    width: 169px;
  }
}
