.more-products {
  position: relative;

  display: grid;
  margin-top: 8px;

  grid-template-columns: 1fr;
}

.more-products__title {
  @include small-header;
  @include underline-green-mobile;

  position: relative;
  margin-top: 21px;

  text-transform: none;

  &::after {
    left: 248px;
  }
}

.more-products__list {
  @include reset-list;

  margin-top: 34px;
}

.more-products__item {
  position: relative;

  padding-bottom: 17px;

  border-bottom: 1px solid $border-color;

  &:first-child {
    border-top: 1px solid $border-color;
  }
}

.more-products__header {
  @include product-header;

  margin-top: 11px;
  margin-bottom: 2px;
  margin-left: 2px;

  color: $special-dark-grey;
}

.more-products__item-description {
  @include main-text;

  display: flex;
  justify-content: space-between;
  margin-top: -6px;
}

.more-products__button {
  @include button-green;
  @include button;

  margin-top: -1px;

  text-decoration: none;

  &:hover {
    background-color: $basic-dark-green;
  }

  &:focus {
    color: $special-white;

    background-color: $basic-dark-green;
  }
}

.sale {
  width: 280px;
  height: 289px;
  margin-top: 39px;
  margin-bottom: 35px;

  background-color: $basic-green;
  background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 58px, center center;
  background-size: 78px 80px, auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile@2x.jpg");
  }
}

.sale__description {
  margin-top: 187px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: $basic-white;
}

@media (min-width: $tablet-width) {
  .more-products__list {
    margin-top: 66px;
  }

  .more-products__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 633px;
    padding: 26px 37px 28px 37px;

    border: 1px solid $border-color;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid $border-color;
    }
  }

  .more-products__title {
    @include big-header;
    @include underline-green;

    margin-top: 68px;
    margin-bottom: 86px;
    padding-left: 37px;

    line-height: 20px;

    &::after {
      top: 13px;
      left: 410px;
    }

    &::before {
      top: 13px;
      right: 710px;
    }
  }

  .more-products__header {
    @include product-tablet-header;

    margin: 0;
    margin-left: 1px;

    line-height: 20px;
  }

  .more-products__text {
    @include catalog__item-text;

    margin-top: 9px;

    line-height: 20px;

    &:first-child {
      margin-right: 51px;
    }
  }

  .more-products__button {
    width: 632px;
    height: 38px;
    margin-top: 7px;
  }

  .sale {
    width: 100%;
    height: 200px;
    margin-top: 67px;
    margin-bottom: 78px;

    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-tablet@1x.jpg");
    background-position: 79px center, center center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .sale__description {
    margin-top: 74px;
    padding-top: 0;
    padding-left: 423px;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .more-products {
    display: flex;
  }

  .more-products__title {
    padding-left: 0;
    margin-top: 74px;
    margin-bottom: 88px;

    &::after {
      top: 16px;
      left: 370px;
    }

    &::before {
      top: 16px;
      right: 1010px;
    }
  }

  .more-products__list {
    width: 894px;
    margin-right: 80px;
    margin-top: 84px;
  }

  .more-products__item {
    display: grid;
    width: 100%;
    padding: 15px 0 6px 0;

    column-gap: 40px;

    border-right: none;
    border-left: none;

    grid-template-columns: 1fr 1fr 244px;
  }

  .more-products__header {
    margin-top: 10px;
  }

  .more-products__item-description {
    margin-top: 5px;
  }

  .more-products__button {
    width: 244px;
    height: 40px;
    margin: 0;
    padding: 0;
  }

  .sale {
    width: 245px;
    min-height: 289px;
    margin-top: 184px;
    margin-bottom: 85px;


    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-desktop@1x.jpg");
    background-position: 86px 56px, center center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .sale__description {
    padding-top: 112px;
    padding-left: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: "Arial", "Helvetica", sans-serif;
    text-align: center;
    color: $basic-white;
  }
}
