.additional {
  position: relative;

  margin-top: 24px;
  padding: 0;

  border: none;
}

.additional__title {
  @include small-header;
  @include underline-green-mobile;

  margin-top: 0;
  margin-bottom: 40px;
  margin-left: -3px;

  text-align: left;

  &::after {
    top: 13px;
    left: 163px;
  }
}

.additional__list {
  @include reset-list;

  display: flex;
  flex-direction: column;
  margin-top: 17px;
}

.additional__item {
  align-self: flex-start;
  margin-bottom: 21px;
  margin-left: 43px;
}

.additional__label {
  @include product-header;

  position: relative;

  margin-left: 2px;
}

.additional__input + .additional__label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -46px;

  width: 28px;
  height: 28px;

  border: 1px solid $border-color;
  cursor: pointer;
}

.additional__input:hover + .additional__label::before {
  border: 1px solid $radio-button-grey;
}

.additional__input:focus + .additional__label {
  outline: 2px solid $basic-black;
}

.additional__input:checked + .additional__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -40px;

  width: 26px;
  height: 26px;

  background-image: url("../img/checkbox-checked.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.additional__input:active + .additional__label,
.additional__input:disabled + .additional__label {
  cursor: auto;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .additional {
    @include container-form;

    margin-top: 64px;
  }

  .additional__title {
    @include big-header;
    @include underline-green;

    margin-left: 0;

    &::after {
      left: 252px;
    }

    &::before {
      right: 670px;
    }
  }

  .additional__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    margin-top: 66px;
  }

  .additional__item {
    margin-bottom: 49px;
  }

  .additional__label {
    @include product-tablet-header;

    margin-left: 17px;
  }

  .additional__input + .additional__label::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -60px;

    width: 38px;
    height: 38px;

    border: 1px solid $border-color;
    cursor: pointer;
  }

  .additional__input:checked + .additional__label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -50px;

    width: 26px;
    height: 26px;

    background-image: url("../img/checkbox-checked.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

@media (min-width: $desktop-width) {
  .additional {
    width: auto;
    margin-top: 62px;
  }

  .additional__title {
    &::before {
      top: 22px;
      right: 1260px;
    }

    &::after {
      top: 22px;
    }
  }

  .additional__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    margin-top: 66px;
  }

  .additional__item {
    flex-basis: auto;
  }

  .additional__label {
    margin-left: 15px;
  }

  .additional__input + .additional__label::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -59px;

    width: 38px;
    height: 38px;

    border: 1px solid $border-color;
    cursor: pointer;
  }

  .additional__input:checked + .additional__label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -48px;

    width: 26px;
    height: 26px;

    background-image: url("../img/checkbox-checked.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
