.comment {
  position: relative;

  margin-top: 14px;
  padding: 0;

  border: none;
}

.comment__title {
  @include small-header;
  @include underline-green-mobile;

  margin-top: 0;
  margin-left: -3px;

  text-align: left;
  text-transform: none;

  &::after {
    top: 13px;
    left: 140px;
  }
}

.comment__text {
  @include product-header;

  width: 262px;
  min-height: 135px;
  margin-top: 16px;
  margin-left: -1px;
  padding-top: 11px;
  padding-left: 13px;

  font-family: "Oswald", "Arial", sans-serif;
  color: $special-dark-grey;
  background-color: $basic-white;
  border: 1px solid $special-grey;

  resize: none;
}

@media (min-width: $tablet-width) {
  .comment {
    @include container-form;

    margin-top: 45px;
  }

  .comment__title {
    @include big-header;
    @include underline-green;

    margin-left: 3px;

    &::after {
      top: 21px;
      left: 230px;
    }

    &::before {
      top: 21px;
      right: 675px;
    }
  }

  .comment__text {
    @include product-tablet-header;

    width: 611px;
    min-height: 160px;
    margin-top: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-left: 22px;

    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .comment {
    width: auto;
    margin-top: 48px;
  }

  .comment__title {
    margin-left: 0;

    &::after {
      top: 21px;
      left: 220px;
    }

    &::before {
      right: 1260px;
    }
  }

  .comment__text {
    width: 1200px;
    min-height: 161px;
    margin-top: 46px;
    margin-left: 0;
    padding-top: 9px;
    padding-left: 18px;
  }
}
