.contacts {
  position: relative;

  margin-top: 27px;
  padding: 0;

  border: none;
}

.contacts__title {
  @include small-header;
  @include underline-green-mobile;

  margin: 0;
  margin-bottom: 34px;
  margin-left: -2px;
  padding: 0;

  text-align: left;
  text-transform: none;
  line-height: 25px;

  &::after {
    left: 200px;
  }
}

.contacts__list {
  @include reset-list;

  display: flex;
  flex-direction: column;
}

.contacts__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  margin-right: -3px;
}

.contacts__label {
  @include product-header;

  display: inline;
  flex-grow: 0;
  margin-top: 11px;
  margin-right: 12px;
  margin-left: -3px;

  color: $basic-dark-grey;
}

.contacts__input {
  @include product-header;

  display: inline;
  flex-grow: 1;
  width: auto;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 15px;

  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: $basic-dark-grey;
  background-color: $basic-white;

  border: 1px solid $special-grey;

  &:focus {
    border: 1px solid $basic-dark-grey;
  }

  &:focus + .icon-email {
    stroke: $basic-green;
  }

  &:focus + .icon-phone {
    fill: $basic-green;
  }
}

.icon-email {
  position: absolute;
  top: 16px;
  left: 245px;
  stroke: $special-dark-grey;
}

.icon-phone {
  position: absolute;
  top: 13px;
  left: 245px;
  fill: $special-dark-grey;
}

.form__input-error {
  border: 1px solid $basic-red;

  & + .icon-email {
    stroke: $basic-red;
  }

  & + .icon-phone {
    fill: $basic-red;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    @include container-form;

    margin-top: 66px;
  }

  .contacts__title {
    @include big-header;
    @include underline-green;

    margin-left: 1px;

    &::after {
      top: 21px;
      left: 555px;
    }

    &::before {
      top: 21px;
      right: 670px;
    }
  }

  .contacts__list {
    margin-top: 76px;
  }

  .contacts__item {
    margin-bottom: 20px;

    &:last-child .contacts__label {
      margin-right: 16px;
      margin-left: -1px;
    }

    &:first-child .contacts__label {
      margin-left: 2px;
    }
  }

  .contacts__label {
    margin-top: 15px;
    margin-right: 19px;
  }

  .contacts__input {
    padding-bottom: 9px;
  }

  .contacts__label,
  .contacts__input {
    @include product-tablet-header;
  }

  .contacts__input--email {
    padding-left: 20px;
    padding-top: 9px;
    padding-bottom: 12px;
  }

  .contacts__input--phone-number {
    padding-left: 19px;
    padding-top: 9px;
    padding-bottom: 12px;
  }

  .icon-email {
    top: 18px;
    left: 598px;
  }

  .icon-phone {
    top: 16px;
    left: 596px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;

    width: auto;
    margin-top: 38px;
    margin-left: 0;
  }

  .contacts__title {
    &::after {
      left: 550px;
    }

    &::before {
      right: 1260px;
    }
  }

  .contacts__list {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 74px;
  }

  .contacts__input--email {
    width: 463px;
    padding-top: 10px;
    padding-left: 18px;
  }

  .contacts__input--phone-number {
    width: 453px;
    padding-top: 10px;
    padding-left: 18px;
  }

  .contacts__label {
    margin-top: 16px;
    margin-right: 20px;
  }

  .icon-email {
    top: 20px;
    left: 533px;
  }

  .icon-phone {
    left: 534px;
  }
}
