.contacts {
  position: relative;

  margin-top: 27px;
  padding: 0;

  border: none;
}

.contacts__title {
  @include small-header;
  @include underline-green-mobile;

  margin: 0;
  margin-bottom: 34px;
  margin-left: -2px;
  padding: 0;

  text-align: left;
  text-transform: none;

  &::after {
    left: 200px;
  }
}

.contacts__list {
  @include reset-list;

  display: flex;
  flex-direction: column;
}

.contacts__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.contacts__label {
  @include product-header;

  display: inline;
  flex-grow: 0;
  margin-top: 14px;
  margin-right: 10px;
  margin-left: 0;

  color: $basic-dark-grey;
}

.contacts__input {
  @include product-header;

  display: inline;
  flex-grow: 1;
  width: auto;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 15px;

  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: $basic-dark-grey;
  background-color: $basic-white;

  border: 1px solid $special-grey;

  &:focus {
    border: 1px solid $basic-dark-grey;
  }

  &:focus + .icon-email {
    stroke: $basic-green;
  }

  &:focus + .icon-phone {
    fill: $basic-green;
  }
}

.icon-email {
  position: absolute;
  top: 20px;
  left: 600px;
  stroke: $special-dark-grey;
}

.icon-phone {
  position: absolute;
  top: 15px;
  left: 600px;
  fill: $special-dark-grey;
}

.form__input-error {
  border: 1px solid $basic-red;

  & + .icon-email {
    stroke: $basic-red;
  }

  & + .icon-phone {
    fill: $basic-red;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    @include container-form;

    margin-top: 66px;
  }

  .contacts__title {
    @include big-header;
    @include underline-green;

    margin-left: 1px;

    &::after {
      top: 22px;
      left: 555px;
    }

    &::before {
      top: 22px;
      right: 670px;
    }
  }

  .contacts__list {
    margin-top: 75px;
  }

  .contacts__item {
    margin-bottom: 20px;
  }

  .contacts__label {
    margin-top: 16px;
    margin-right: 20px;
  }

  .contacts__input {
    padding-bottom: 9px;
  }

  .contacts__label,
  .contacts__input {
    @include product-tablet-header;
  }

  .contacts__input--email {
    background-position: 514px center;
  }

  .contacts__input--phone-number {
    background-position: 498px center;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;

    width: auto;
    margin-top: 45px;
    margin-left: 0;
  }

  .contacts__title {
    &::after {
      left: 550px;
    }

    &::before {
      right: 1260px;
    }
  }

  .contacts__list {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 74px;
  }

  .contacts__input--email {
    width: 466px;
  }

  .contacts__input--phone-number {
    width: 452px;
  }

  .contacts__label {
    margin-top: 15px;
    margin-right: 20px;
  }

  .icon-email {
    left: 530px;
  }

  .icon-phone {
    left: 535px;
  }
}
