.form {
  margin-bottom: 32px;
}

.form__wrapper {
  display: grid;

  grid-template-columns: 1fr;
}

.form__title {
  @include big-header;

  margin-top: 28px;
}

.form__subtitle {
  @include subtitle;

  margin-top: 37px;

  text-align: left;
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18px;
}

.form__button {
  @include button-green;
  @include button;
  text-decoration: none;

  &:hover {
    background-color: $basic-dark-green;
  }

  &:focus {
    color: $special-white;

    background-color: $basic-dark-green;
  }
}

.form__small-text {
  @include main-text;

  margin-top: 20px;

  text-align: center;
  color: $basic-black;
}

.form__input--error {
  border: 1px solid $basic-red;
}

@media (min-width: $tablet-width) {
  .form {
    margin-top: 48px;
    margin-bottom: 70px;
  }

  .form__title {
    @include big-tablet-header;

    margin-bottom: 55px;
  }

  .form__subtitle {
    @include product-tablet-header;

    margin-left: 40px;

    line-height: 30px;
  }

  .form__button-wrapper {
    flex-direction: row;
    margin-left: 40px;
    margin-top: 14px;
  }

  .form__button {
    @include product-tablet-header;

    width: 282px;
    height: 52px;
    margin-right: 61px;
  }

  .form__small-text {
    @include catalog__item-text;

    margin-top: -4px;
    margin-left: 2px;

    text-transform: none;
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin-bottom: 80px;
  }

  .form__title {
    margin-top: 56px;
  }

  .form__subtitle {
    margin-top: 57px;
    margin-left: 0;
  }

  .form__wrapper {
    column-gap: 67px;

    grid-template-columns: 572px 568px;
  }

  .form__button-wrapper {
    margin-top: 20px;
    margin-left: 0;
  }

  .form__button {
    width: 568px;
    height: 52px;
  }

  .form__small-text {
    margin-top: 0;
    margin-left: 22px;
  }
}
