.personal-info {
  margin-top: 26px;
  padding: 0;

  border: none;
}

.personal-info__list {
  @include reset-list;

  position: relative;
  padding-bottom: 10px;
  margin-left: -3px;
  margin-right: -3px;
}

.personal-info__item {
  @include underline-grey;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;

  &:first-child .personal-info__label {
    margin-right: 14px;
  }
}

.personal-info__label {
  @include product-header;

  display: inline;
  flex-grow: 0;
  margin-right: 16px;

  color: $basic-dark-grey;
}

.personal-info__input {
  @include product-header;

  display: inline;
  flex-grow: 1;
  width: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;

  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: $basic-dark-grey;
  background-color: $basic-white;

  border: 1px solid $special-grey;

  &:hover {
    border: 1px solid $border-color;
  }

  &:focus {
    border: 1px solid $basic-dark-grey;
  }
}

.personal-info__input::placeholder {
  @include product-header;

  text-align: left;
  color: $basic-dark-grey;
}

.form__input-error {
  border: 1px solid $basic-red;

  & + .icon-email {
    stroke: $basic-red;
  }

  & + .icon-phone {
    fill: $basic-red;
  }
}

@media (min-width: $tablet-width) {
  .personal-info {
    @include container-form;
    @include underline-none;
  }

  .personal-info__list {
    margin-top: 45px;

    border: none;
  }

  .personal-info__item {
    @include underline-none;

    margin-bottom: 20px;

    &:first-child .personal-info__label {
      margin-right: 17px;
    }

    &:last-child .personal-info__label {
      margin-right: 18px;
    }
  }

  .personal-info__input {
    padding-top: 9px;
    padding-bottom: 12px;
    padding-left: 17px;
  }

  .personal-info__label {
    margin-right: 20px;
    margin-left: 5px;
    margin-top: -2px;
  }

  .personal-info__label,
  .personal-info__input,
  .personal-info__input::placeholder {
    @include product-tablet-header;

    color: $basic-dark-grey;
  }
}

@media (min-width: $desktop-width) {
  .personal-info__list {
    width: 573px;
    border-bottom: none;
  }

  .personal-info__item {
    margin-bottom: 20px;

    &:nth-child(2) .personal-info__label {
      margin-right: 19px;
    }
  }

  .personal-info__label {
    margin-top: -4px;
    margin-right: 15px;
    margin-left: 4px;
  }

  .personal-info__input {
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 18px;
  }
}
