.more-products__button,
.catalog__button,
.main-screen__button,
.form__button {
  @include button-green;
  @include button;
  text-decoration: none;

  &:hover {
    background-color: $basic-dark-green;
  }

  &:focus {
    color: $special-white;

    background-color: $basic-dark-green;
  }
}

.catalog__more-products-button {
  @include button-grey;
  @include button;
}
