$basic-black: #000000;
$basic-white: #ffffff;
$basic-green: #68b738;
$basic-grey: #d9d9d9;
$basic-dark-grey: #444444;
$basic-light-grey: #eaeaea;
$special-black: #111111;
$special-light-grey: #f2f2f2;
$special-dark-grey: #222222;
$special-grey: #e7e7e7;
