$basic-black: #000;
$basic-white: #FFF;
$basic-green: #68B738;
$basic-grey: #D9D9D9;
$basic-dark-grey: #444444;
$basic-light-grey: #EAEAEA;
$special-black: #111111;
$special-light-grey: #F2F2F2;
$special-dark-grey: #222222;
