.footer {
	background-color: $special-light-grey;
}

.footer-icons__list {
	@include reset-list;
}

.footer-icons__link {
	text-decoration: none;
}

.copyright__link{
	text-decoration: none;
	color: $basic-dark-grey;
}

.copyright__text {
	font-family: Arial, sans-serif;
}