// Viewports
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
$container-padding: 0 64px;


// Colors
$basic-black: #000000;
$basic-white: #ffffff;
$basic-green: #68b738;
$basic-dark-green: #5eaa2f;
$basic-grey: #d9d9d9;
$basic-dark-grey: #444444;
$basic-light-grey: #eaeaea;
$special-black: #111111;
$special-light-grey: #f2f2f2;
$special-dark-grey: #222222;
$special-grey: #e7e7e7;
$special-white: rgba(255, 255, 255, 0.3);
$special-light-white: rgba(255, 255, 255, 0.6);
$special-black: rgba(0, 0, 0, 0.6);
$special-light-black: rgba(0, 0, 0, 0.3);
