.container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: $container-padding;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: $container-padding;
  }
}
